body {
  background-color: #ff0000;
  color: #0000FF;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
  line-height: normal;
}

.logo {
  margin: 20px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: sans-serif;
  line-height: normal;
}

large-pic {
  background: #fff url(css-exercise-two/images/instagram-pic.jpg) no-repeat top center;
  width: 100%;
}

medium-pic {
  background: #fff url(css-exercise-two/images/bloc-logo.png) no-repeat top center;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
  line-height: normal;
}

.li {
  float: right;
  padding: 30px;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-family: sans-serif;
  line-height: normal;
}

article {
  padding-top: 100px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  line-height: normal;
}

.container {
  margin: 0 auto;
  width: 50%;
}
